h1{ color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    
  }
  h3 { color: green;
    font-family: arial;
    font-size: 22px;
  }
  h4{ 
    color: rgb(255, 255, 255);
    front-family: arial;
    front-size: 12px;
  }
  img{ width: 300px;
       height: 300px;
  }
  body{ background-color: rgb(0, 0, 0);
  }
  img{ 
    transition: transform 0.3s ease;
  }
  img:hover{
    transform: scale(1.1);
  }